{% extends 'base.html'%}

{% block content %}
    <div class="container-fluid" >
        <div class="span12">
            <div class="widget">
                <div class="widget-body">
                    <div class="row-fluid">
                        <a  style="height:120px; width:150px; float:left; margin:200px;" class="icon-btn" >
                            <div > <img src="/static/images/start.png" style="width:100px; height:100px" title="开始" onclick="BtnStart()"/></div>
                            <h2>开始</h2>
                        </a>

                        <a style="height:120px; width:150px; float:left; margin:200px" class="icon-btn" title="停止" onclick="BtnStop()">
                            <div> <img src="/static/images/stop.png"  style="width:100px; height:100px"/></div>
                            <h2>结束</h2>
                        </a>
                        <a style="height:120px; width:150px; float:left; margin:200px" class="icon-btn" title="停止" onclick="BtnExport()">
                            <div> <img src="/static/images/stop.png"  style="width:100px; height:100px"/></div>
                            <h2>导出</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function BtnStart(){
            $.ajax({
                url:'/start/',
                type:'GET',
                async:true,
                success:function(data){
                    alert(data);
                }
            });
        }

        function BtnStop(){
            $.ajax({
                url:'/stop/',
                async:true,
                success:function(data){
                    alert(data);
                }
            });
        }
    function BtnExport(){
        $.ajax({
            url:'/air_quality/export/',
            async:true,
            success:function(data){
                alert(data);
            }
        });
    }
    </script>
{% endblock %}